# Authentik
# Generate with: openssl rand -hex 32
AUTHENTIK_SECRET_KEY=change_me
AUTHENTIK_TAG=2024.12.3

# Authentik PostgreSQL
PG_PASS=change_me
PG_USER=authentik
PG_DB=authentik

# SonarQube PostgreSQL
SONAR_DB_PASSWORD=change_me
